<h1>이메일 보내기</h1>
<form action="/email/email_send" method="post">
	Email: <input type="text" name="email"><br>
	Title: <input type="text" name="title"><br>
	Content: <textarea name="content" id="" cols="30" rows="10"></textarea><br>
	<input type="submit" value="전송">
</form>